* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	/*background-color: #1aff1a;*/
}

.container {
	margin: 0px 200px 0px 200px;
	height: 100%;
	/*background-color: #FFFFFF;*/
}

.top-section {
	height: 100px;
}

.company {
	overflow: hidden;
}

.company img {
	height: 66px;
	width: 350px;
}

.logo {
	float: left;
}

.slogan {
	margin-left: 50px;
	height: 66px;
	float: left;
}

.slogan h1 {
	font-size: 38px;
	text-align: center;
	padding-top: 10px;
}

.nav li {
	display: inline;
	font-size: 25px;
	border: 1px solid #000000;
	margin: 0px ;
}

.nav li a {
	text-decoration: none;
	color: black;
}