.main-section {
	background-color:#FFFFFF;
	font-family: "karla", sans-serif;
}

.titel h1 {
	text-align:center;
	padding:10px 0px 10px 0px;
}

.info {
	width:466px;
	float: left;
}

.info p {
	padding: 5px 10px;
}

.info p:first-child {
	margin-bottom:5px;
}


#map	 {
	float:right;
}
