.main-section {
	font-family: 'Karla', sans-serif;
	background-color: #FFFFFF;
	width: 100%;
	overflow: hidden;
}

.main-section li {
	list-style-type: none;
}

.img {
	float:right;
}

.row1 {
	text-align:left;
}

.row2 {
	padding-left:60px;
}
