.main-section {
	background-color:#FFFFFF;
	font-family: "karla", sans-serif
}

.review {
	text-align:center;
}

.review h2 {
	padding:10px 0px;
}

.social {
	text-align: center;
	margin-top:20px;
}

.social img {
	margin-right: 15px;
	margin-left:12px;
	margin-top: 15px;
}

.slideshow img {
	display:block;
}

.slidecontainer {
	width:966px;
	height:381px;
	overflow:auto;
}

.slideshow {
	width:3864px;
	height:366px;

}

.slide {
	float:left;
	width:966px;
	height:366px;
}

.kyfresh{
	text-align: center;
}

.social h3 {
	padding-bottom: 5px;
}