* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #1aff1a;
}

.container {
	margin: 10px auto 0px auto;
	width: 966px;
}

/*TOP-SECTION*/
.top-section {
	height: 105px;
}

.company {
	overflow: hidden;
	height: 76px;
	background-color: #1aff1a;
}

.company img {
	height: 66px;
	width: 350px;
}

.logo {
	float: left;
}

.slogan {
	margin-left: 35px;
	height: 66px;
	float: left;
	font-family: 'Ubuntu', sans-serif;
}

.slogan h1 {
	font-size: 38px;
	text-align: center;
	padding-top: 10px;
}

.nav li {
	display: block;
	text-align: center;
	float: left;
	font-size: 25px;
	border-right: 3px solid white;
	background-color: #01a6e8;
	width: 190.8px;
	font-family: 'Karla', sans-serif;
}

.nav li:nth-child(5) {
	border-right: none;
}

.nav li a {
	text-decoration: none;
	color: #FFFFFF;
}

/*MAIN-SECTION*/
.main-section {
	font-family: 'Karla', sans-serif;
	background-color: #FFFFFF;
	overflow: hidden;
	width: 100%;
}

.title {
	height: 45px;
	text-align: center;
	border-bottom: 1px solid black;
}

.title h2 {
	padding-top: 10px;
	font-weight: bold;
	font-size: 24px;
}

.categories {
	width: 194px;
	float: left;
}

.categories li {
	list-style-type: none;
	height: 25px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 7px 0px 0px 10px;
}

.categories li:first-child {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.categories li:last-child {
	border-bottom: none;
}

.categories a {
	text-decoration: none;
	color: black;
}

.products {
	text-align: center;
	float: left;
	font-size: 16px;
	width: 760px;
}

.products img {
	width: 220px;
	height: 160px;
}

.product {
	float: left;
	margin: 10px 35px 10px 10px;
}

.product:nth-child(4) {
	clear: left;
}

.product:last-of-type {
	margin-right: 0;
}

.product a {
	text-decoration: none;
	color: black;
}

.product h3:hover {
	background-color: #d3d3d3;
	border-radius: 10px;
}