.main-section {
	font-family: 'Karla', sans-serif;
	background-color: #FFFFFF;
	width: 100%;
	overflow: hidden;
}

.main-section li {
	list-style-type: none;
}

.summary {
	width: 388px;
	float: left;
}

.price {
	width: 190px;
	float: left;
	text-align: right;
}

.price li:first-child {
	margin-top: 35px;
}

.tab li {
	padding-left: 35px;
	list-style-type: circle;
}

.conditions {
	width: 388px;
	float: right;
	text-align: center;
	border-top: 1px solid black;
}

.conditions h3 {
	font-size: 20px;
	margin: 5px 0 5px 0;
}

.conditions p {
	margin: 0 0 10px 0;
}

.conditions a {
	color: black;
}