.main-section {
	background-color:#FFFFFF;
	font-family: "karla", sans-serif
}

.review {
	text-align:center;
}

.review h2 {
	display:inline;
}

.social {
	text-align: center;
}

.social img {
	margin-right: 20px;
	margin-top: 2px;
}